/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  /*background: url(/project/img/logo\ md_oficial.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #4f4b53, #2575fc);*/
  background-color: rgba(0, 0, 0, 0.808);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  background: rgba(55, 91, 255, 0.849);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.747);
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.main-content {
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 20px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #2575fc;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: #019238;
  transform: translateY(-3px);
}

.footer {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

.footer p {
  font-size: 0.9rem;
  opacity: 0.8;
}